.text-input {
  display: flex;
  flex-direction: column;

  margin-bottom: 16px;

  & label {
    margin: 4px 0;
  }

  & input {
    padding: 8px;
  }
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
