.wrapper-home {
  width: min(100%, 1366px);
  height: 100%;

  padding: 0 24px;
  margin: 0 auto;

  border: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.add-new {
  margin: 40px 0 16px;
}

.todo {
  margin: 16px 0;
  padding: 8px 16px;

  display: flex;
  flex-direction: column;

  width: min(100%, 800px);

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(2, 37, 54, 0.2);

  &:last-child {
    margin-bottom: 32px;
  }
}
